body {
  margin:0px;
  padding:0px;
}
.contenedor{
	display: grid;
	grid-template: 1fr 1fr 400px 60px/ 1fr;   
	grid-template-areas: "header header"    
						 "section section"
						 "aside aside"
						 "footer footer";
	
	height: 100vh;
}

.floatButton{
	bottom: 30px;
	right: 30px;			
	position: fixed;			
	z-index:1;
}

header{
	display: grid;
	grid-area: header;
	grid-template: 1fr 1fr 0.5fr 1fr/1fr;
	background-color: #7740a2;
	text-align: center;
}

.front{
	display: grid;
	grid-row: 1/2;
	grid-template:1fr/1fr 1fr; 
}
.front img{
	display: grid;
	grid-column: 1/2;
	width: 150px; 
	height: 80px;
	margin: 20px;
}
.front nav{
	display: grid;
	grid-column: 2/3;
	justify-content: left;
	align-content: left;
	letter-spacing: 2px;
}
.front nav ul{
	display:  flex;
}
.front nav ul li{
	display: flex; 
	margin: 5px;
}
.front nav ul li a{
	text-decoration: none;
	color: #f5f8fd;
	font-weight: 550;
	font-size: 20px;
	padding-left: 65px;
}
.titulo{
	display: grid;
	grid-row: 2/3;
	font-size: 40px;
	font-weight: 550;
	color: #f5f8fd;
}
.subtitulo{
	display: grid;
	grid-row: 3/4;
	opacity: 0.8;
}
.subtitulo h3{
	font-size: 25px;
	color: #f5f8fd;
}
.btn {
	display: grid;
	grid-row: 4/5;
}
.btn button{
	width: 200px;
	height: 70px;
	background-color: #61cde4;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 550;
	text-decoration: none;
	color: #f5f8fd;
	cursor: pointer;
}
.btn button:hover{
	filter: brightness(105%); 		
	box-shadow: 4px 4px 4px  rgb(0,0,0,0.3);
}
section{
	display: grid;
	grid-area: section;
	grid-template: 50px 1fr;
	background-color: #f5f8fd;	
	align-content: center;
	justify-content: center;	
	text-align: center;
}
.tituloServicio{
	display: grid;
	grid-row: 1/2;
	font-size: 22px;
	justify-content: center;
	align-content: center;
	color: #000;
}
.cardView{
	display: grid;
	grid-row: 2/3;
	grid-gap: 100px;
	margin-bottom: 30px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr 1fr;	
}
.cardView article {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	box-shadow: 0px 0px 16px rgb(0,0,0,0.2); 
	background-color: #fff;
	border-radius: 5px;
	max-width: 400px;
	align-content: center;
	justify-content: center;
}
.cardView .Calidad:hover{
	box-shadow: 0px 0px 6px #28abb9; 
}
.cardView .Calidad .tituloCard{
	color: #28abb9;
}
.cardView .Seguridad:hover{
	box-shadow: 0px 0px 6px #2d6187; 
}
.cardView .Seguridad .tituloCard{
	color: #2d6187;
}
.cardView .Diseño:hover{
	box-shadow: 0px 0px 6px #ffa36c; 
}
.cardView .Diseño .tituloCard{
	color: #ffa36c;
}
.cardView .Económico:hover{
	box-shadow: 0px 0px 6px #a8dda8; 
}
.cardView .Económico .tituloCard{
	color: #a8dda8;
}

.cardView article .img{
	display: grid;
	grid-row:1/2;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
}
.cardView article .img img{
	display: grid;
	grid-column: 2/3;
}
.cardView article .tituloCard{
	display: grid;
	grid-row:2/3;
	font-size: 25px;

}
.cardView article .descripcion{
	display: grid;
	grid-row:3/4;
	font-weight: bold;
	font-size: 18px;
}
.cardView article .descripcion p{
	text-align: center;
	padding: 10px;
}
	
aside{
	display: grid;
	grid-area: aside;
	background-color: #61cde4;	
}
form{
	display: grid;
	grid-gap: 20px;	
	justify-content: center;
	align-content: center;
}
form input{
	width: 800px;
	height: 35px;
	box-shadow: 0px 0px 16px rgb(0,0,0,0.1); 
	border-radius: 5px;
	border:none;
}
form textarea{
	width: 800px;
	height: 100px;
	box-shadow: 0px 0px 16px rgb(0,0,0,0.1); 
	border-radius: 5px;
	border:none;
}
form .button{
	display: grid;
	justify-content: center;
	align-content: center;
}
form button{
	width: 200px;
	height: 50px;
	font-size: 20px;
	background-color: #2bb2d9;	
	border:none;
	border-radius: 5px;
	cursor: pointer;
	color: #f5f8fd;
	margin:10px;
}

form button:hover{
	filter: brightness(105%); 		
	box-shadow: 3px 3px 3px  rgb(0,0,0,0.3);
}

footer{
	display: grid;
	grid-area: footer;
	justify-content: center;
	align-content: center;
	padding: 10px;
	background-color: #f5f8fd;
	color: #000;
	font-size: 17px;	
	text-align: center;
	font-weight: 550;
}

@media (max-width: 1150px) {
							

.titulo{
	font-size: 25px;
}
.subtitulo h3{
	font-size: 15px;
}

.btn button{
	width: 150px;
	height: 50px;
	font-size: 13px;
}
.front img{
	width: 75px; 
	height: 40px;
}
.cardView{
	display: grid;
	grid-gap: 40px;
}

.cardView article .img{
	width: 100%;
}

form input{
	width: 400px;
	height: 35px;
}
form textarea{
	width: 400px;
	height: 100px;
}

}

@media (max-width: 800px) { 

.front nav ul li a{
	font-size: 15px;
	padding-left: 25px;
}
.cardView{
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 1fr;	
	display: grid;
	align-content: center;
	justify-content: center;
	grid-gap: 0px;
}
.cardView article {
	margin-top: 40px;
	max-width: 400px;
}
article{
	display: grid;
	align-content: center;
	justify-content: center;
}

}

@media (max-width: 600px) {

 .cardView article {
	max-width: 300px;
	max-height:  300px;
}

.front nav ul{
	display:  block;
}

form input{
	width: 300px;
}
form textarea{
	width: 300px;
}

}